NEXT_PUBLIC_SITE_URL=https://ohmydress.ro
ORDER_STORAGE_PATH=data/orders.json
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me-before-production
NEXT_PUBLIC_SAMEDAY_CLIENT_ID=
NEXT_PUBLIC_SAMEDAY_API_USERNAME=
NEXT_PUBLIC_SAMEDAY_COUNTRY_CODE=RO
NEXT_PUBLIC_SAMEDAY_LANG_CODE=ro
